.cardWrapper {
  display: flex;
  gap: 20px;
  padding: 8px;
  border-bottom: 1px solid;
}

.icon {
  font-size: xx-large;
  display: flex;
  align-items: center;
  background-color: var(--ledger-bg);
  padding: 14px;
  border-radius: 6px;
}

.ledgerText {
  display: flex;
  align-self: center;
}

.cardContainer {
  margin: 10px 0;
}
